/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.logoBannerBig {
    height: 250px;
    width: max-content;
    min-width: 550px;
    margin-bottom: 30px;
}

.logoBannerSmall {
    height: 250px;
    width: 250px;
    min-width: 250px;
    display: none;
    margin-bottom: 30px;
}

@media screen and (max-width: 646px) {
    .logoBannerBig {
        display: none;
    }
    .logoBannerSmall {
        display: initial;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
