.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  margin-bottom: 20px;
  height: 100px;
  width: 200px;
}

.featuresHeader {
  text-align: center;
}